body{
    margin: 0%;
font-family: 'Work Sans', sans-serif;
}
h1{
    font-size:50px;
}
h2{
    font-size: 40px;
}
.name-color{
    color:rgb(226, 173, 27);
}
.flexible-container{
    display: flex;
    margin-bottom: 120px;
    
}
.half-width{
    width: 50%;
    padding: 2%;

}
.half-width img{
    width: 90%;

}
.link-button{
    font-weight: 900;
    text-decoration: none;
    background-image: linear-gradient(yellow, red);
    padding: 8px 20px;
    border-radius: 5px;
    color: darkgreen;


}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experiences-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;

}
.experience-part{
    width: 40%;
    margin-left: 5%;
    margin: right 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 50px gray;
    
}
#left-border1{
    border-image: linear-gradient(
    red, orange, yellow);
    border-left: 6px solid;
    border-image-slice: 1;
    
    

}
#left-border2{
    border-image: linear-gradient(navy, blue, cyan);
    border-left: 6px solid;
    border-image-slice: 1;
}
footer p{
    text-align: center;
}